version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: db-mysql-service
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql
    healthcheck:
      # Menggunakan user aplikasi untuk healthcheck, bukan root. Ini lebih andal.
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "${MYSQL_USER}",
          "-p${MYSQL_PASSWORD}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  go-app-service:
    build: .
    container_name: go-app-service
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3001:3000"
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy

  cache:
    image: redis:7.0-alpine
    container_name: redis-cache-service
    restart: unless-stopped
    env_file:
      - .env
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:
  redis-data:
